# SQL DML: Basic Form

Recap on Syntax:

```
SELECT attr, ..., attr
FROM relation, ..., relation
WHERE condition
```

Using `<Relation>.<Attribute>` when relations share attribute

## Tuple Variables

"Name" relations in the FROM clause. **Needed** when using same relation more than once in FROM clause to resolve ambiguity (otherwise will compare against itself)

*e.g. find actors who are also directors*

Syntax:
```sql
SELECT t.Actor
FROM Movie t, Movie s
WHERE t.Actor = s.Director
```

Semantics:
```py
for each t in Movie
  for each s in Movie
    if t(Actor) == s(Director)
      then output t(Actor)
```

### Example revisited

w/o tuple vars:
```sql
SELECT Title
FROM Movie
WHERE Director = "Berto"
```

w/ tuple vars:
```sql
SELECT m.Title
FROM Movie m
WHERE m.Director = "Berto"
```

### Example revisited 2

w/o tuple vars:
```sql
SELECT Movie.Title, Director
FROM Movie, Schedule
WHERE Movie.Title = Schedule.Title
```

w/ tuple vars:
```sql
SELECT m.Title, m.Director
FROM Movie m, Schedule s
WHERE m.Title = s.Title
```

> Above 2 examples revisted are more of preference/choice/taste. Original are more concise.

## Wildcard *

Selects all attributes

EX: Retrieve all movie attributes of currently playing movies

```sql
SELECT Movie.*
FROM Movie, Schedule
WHERE Movie.Title = Schedule.Title
```

## LIKE Keyword

Used to express **pattern matching conditions**

`<sttr> LIKE <pattern>`

EX: Retrieve all movies where the title starts with "Ta"

```sql
SELECT *
FROM Movie
WHERE Title LIKE 'Ta%'
```

> `%` is arbitrary string

EX: Forgot if "Polanski" is spelled w/ an i or a y

```sql
SELECT *
FROM Movie
WHERE Director LIKE 'Polansk_'
```

> `_` is arbitrary character

## DISTINCT Keyword

Eliminates duplicate results

```sql
SELECT DISTINCT ...
FROM ...
WHERE ...
```

## ORDER BY clause

Used to **order** the *display* of tuples in the result. Permutation of result is displayed, the result is not affected.

EX: List all titles and actors of movies by Fellini, in alphabetical order of titles

```sql
SELECT Title, Actor
FROM Movie
WHERE Director = 'Fellini'
ORDER BY Title
```

Can specify order for each attribute
- DESC
- ASC (default)

e.g. `ORDER BY Title DESC`

## AS Keyword

Used to **rename attributes** in the result

EX: Find titles of movies by Bertolucci, under attribute Berto-title:

```sql
SELECT title AS Berto-title
FROM movie
WHERE director=Bertolucci
```

# Aggregate Functions

Operate on the multiset of values of a column of a relation, and return **a single** value

- **avg**
- **min**
- **max**
- **sum**
- **count**

typically work with a collection type input

## Examples

Find the average account balance at the La Jolla branch

```sql
SELECT avg(balance)
FROM account
WHERE branch_name='La Jolla'
```

Find the number of tuples in the customer relation

```sql
SELECT count(*)
FROM customer
```

Find the number of depositors in the bank