## Any Questions?

Student asked to go over `EXIST` VS `IN`

```sql
EXISTS(query Q)     -- true iff Q has non-empty result
```

vs

```sql
e IN (query Q)      -- true iff e is a member of Q's output
```

> Q: can we express `IN` using `EXISTS`?

```sql
SELECT  *           -- return the whole t for each t that satisfies the condition (homemade membership check using EXISTS)
FROM    T t, ...
WHERE   EXISTS (
    SELECT  *       -- doesn't matter since EXISTS only checks if result is non-empty
    FROM    S s
    WHERE   s.name == t.name
)
```

### Q: What about the JOIN primitive u can use in SQL?

A: You don't really need inner joins at all. Already addressed a long time ago just didn't name them. No need for special syntax. It's just FROM 2 relations with the WHERE clause has a condition checking for equality of a shared attribute. 

You don't get any additional expressive power using the inner join primitive. It's more of a taste/preference

EX: Find actors playing in **every** movie by "Berto"

```sql
SELECT  Actor   FROM Movie
WHERE   Actor   NOT IN (

    SELECT  m1.Actor
    FROM    Movie m1, Movie m2
    WHERE   m2.Director="Berto"
        AND m1.Actor NOT IN (
            SELECT  Actor
            FROM    Movie
            WHERE   Title=m2.Title
        )

)
```

Q: What does the doubly nested query compute?

A: Extracts the class for the movie m2 directed by "Berto"

So we basically find actors for which there is some movie by "Berto" in which they do not act to generate a list of violating actors.

Then we use the list of violating actors, and find just the valid actors instead using `NOT IN`

> SQL's way of saying this: 
 
"find the actors for which there is no movie by Bertolucci in which they do not act"

OR equivalently

"find the actors not among those actors for which there is some movie by Bertolucci in which they do not act

## Example of EXIST

EX: Find titles of curr playing movies by Berto

```sql
SELECT  s.title
FROM    schedule s
WHERE   EXISTS (
    SELECT  *                           -- Again, doesn't matter for EXISTS
    FROM    movie
    WHERE   movie.title = s.title 
        AND movie.director = "Berto"
)
```

Correlation used

### Boolean Prediate

useful for constraints, e.g. "everybody likes UCSD"

Person(name: string)

Likes(name: string, school: string)

```sql
NOT EXISTS
    (
        SELECT  *   FROM PERSON
        WHERE   NOT EXISTS (
            SELECT  *   FROM LIKES
            WHERE   PERSON.name = LIKES.name
                AND school='UCSD'
        )
    )
```

# Union, Intersection & Difference

Usually for chaining operatoins over tables. This all behind relational algebra: the way in which the plan for answering the query is presented internally in the DBMS.

- UNION: `<SQL Query 1> UNION <SQL Query 1>

- Intersection: `<SQL Query 1> INTERSECT <SQL Query 1>

- EXCEPT: `<SQL Query 1> EXCEPT <SQL Query 1>