# Relational Algebra

Procedural language consisting of a set of operations that take 1-2 relations as input and produce a new relation as their result

6 basic operators
- select: $\sigma$
- project: $\Pi$
- union: $\cup$
- set difference: $-$
- Cartesian product: $\times$
- rename: $\rho$

## Select Operation

Selects tuples that satisfy a given predicate

$$ \sigma_p (r) $$

$p$: **selection predicate**

> Example: select tuples of the *instructor* relation where the instructor is in the "Physics" department

Query: $\sigma_{dept\_name = "Physics"}(instructor)$

### Selection predicate

Allows comparisons using
- =
- $\neq$
- \>
- $\geq$
- \<
- $\leq$

Can combine several predicates into a larger predicate using connectives:
- $\wedge$ (AND)
- $\vee$ (OR)
- $\neg$ (NOT)

> Example: Find instructors in Physics w/ a salary greater than $90K
$$ \sigma_{dept\_name="Physics" \wedge salary > 90,000}(instructor) $$

May include comparisons between 2 attributes

> Example: Find all departments whose name is the same as their building name:
$$ \sigma_{dept\_name=building}(instructor) $$

## Project Operation

Unary operation that returns it's argument relation, w/ certain attributes left out

$$ \Pi_{A_1, A_2, A_3, \dots, A_k} (r) $$

$A_n$ are attribute names and $r$ is the relation name

Result is defined as the relation of (k) columns obtained by erasing the columns that are nto listed.

Duplicate rows removed from result, since relations are sets

> Example: eliminate the *dept_name* attribute of *instructor*

Query: $ \Pi_{ID, name, salary} (instructor) $

## Composition of Relational Operations

Relational-algebra operations result in a relation, thus they can be composed together into a **relational-algebra expression**

> Example: Find the names of all instructors in the Physics department

Query: $\Pi_{name}( \sigma_{dept\_name = "Physics"}(instructor) )$

Projection operation ($\Pi$) doesn't just take name of relation as arg, it takes an expression that evaluates to a relation

## Cartesian-Product Operation

Allows combination of any 2 relations

> Exmaple: Cartesian product of relations *instructor* and *teaches* is written as: $instructor \times teaches$

Construct tuple of result out of each possible pair of tuples: 1 from each relationn
- NOTE: every tuple from respective relations are associated with eachother, even if they're NOT related (e.g. with shared Candidate Key)

Duplicate attributes (like ID) are distinguished with the name of the relation from which the attribute originally came
- $instructor.ID$
- $teaches.ID$

## Join Operation

To get only those tuples of "$instructor \times teaches$" that pertain to instructors and the courses they taught:

$$ \sigma_{instructor.id = teaches.id}(instructor \times teaches)$$

**join** operation combines SELECT and Cartesian-Product operations into one

Consider relations r (R) and s (A)

Let $theta$ be a predicate on attributes in the schema R "union" S. The join operation is defined as follows:

$$ r \bowtie_\theta s = \sigma_\theta(r \times s) $$

Thus the join between the instructors and teaches relation can be written as:

$$ instructor \bowtie_{instructor.id = teaches.id} teaches $$

## Union Operation

Allows combination of 2 relation

$$ r \cup s$$


For the union to be valid,
1. r, s must have the *same* **arity** (# atrrributes)
2. attribute domains must be **compatible** (i.e. columns must work w/ the same types of values)

> Example: find all courses taught in the Fall 2017 semester OR in the Spring 2018, OR in both:

$$ 
\Pi_{course\_id}(\sigma_{semester="Fall" \wedge year=2017}(section)) \cup \\
\Pi_{course\_id}(\sigma_{semester="Spring" \wedge year=2018}(section))
$$

## Set-Intersection Operation

Find tuples that are in both the input relations

$$ r \cap s $$

Assume:
- r, s have the *same **arity*** (# attributes)
- attributes of r and s are **compatible**

> Example: Find the set of all courses taught in both the Fall 2017 and the Spring 2018 semesters

$$ 
\Pi_{course\_id}(\sigma_{semester="Fall" \wedge year=2017}(section)) \cap \\
\Pi_{course\_id}(\sigma_{semester="Spring" \wedge year=2018}(section))
$$

## Set Difference Operation

Find tuples that are in one relation but are not in another

$$ r - s $$

Set differences must be taken between **compatible** relations
- r and s must have the *same **arity***
- attribute domains of r and s must be **commpatible**

> Example: find all courses taught in Fall 2017 semester, but not in Sprint 2018 semester

$$ 
\Pi_{course\_id}(\sigma_{semester="Fall" \wedge year=2017}(section)) -\\
\Pi_{course\_id}(\sigma_{semester="Spring" \wedge year=2018}(section))
$$

## The Assignment Operation

Temporary relation variables are convenient when writing relational-algebra expressions

Denoted by "$\leftarrow$" and works like assignment in programming

> Example: Find all instructors in the Physics and Music department

$$
Physics \leftarrow \sigma_{dept\_name="Physics"}(instructor) \\
Music \leftarrow \sigma_{dept\_name="Music"}(instructor) \\
Physics \cup Music
$$

Query can be written as a sequential program consisting of a series of assignments followed by an expression whose value is displayed as the result of the query

## The Rename Operation

The result of relational-algebra expressions do not have a name that we can use to refer to them. The rename operator ($\rho$) is provided for that purpose

$\rho_x(E)$: returns the result of expression $E$ under the name $x$

Another form:
$$ \rho_{x(A_1, A_2, \dots, A_n)}(E) $$

# Equivalent Queries

As in programming, there's many ways to write a query 

> Example: Find information about courses taught by instructors in the Physics department with salary greater than 90,000

Query 1: $\sigma_{dept\_name = "Physics" \wedge salary > 90,000}(instructor)$

Query 2: $\sigma_{dept\_name = "Physics"}(\sigma_{salary > 90,000}(instructor))$

NOT IDENTICAL, but equiavalent ==> they give same result on any database

> Example: Find information about courses taught by instructors in the Physics department

Query 1: $\sigma_{dept\_name = "Physics"}(instructor \bowtie_{instructor.ID = teaches.ID} teaches)$

Query 2: $\sigma_{dept\_name = "Physics"}(\sigma_{salary > 90,000}(instructor))$