`TODO: REVISIT THE FIRST 10 MINUTES OF LECTURE THAT YOU WERE LATE TO`

### Movie Examples Revisited

Find actors playing in **every** movie by Berto

{a: actor | $\exists$ y $\in$ movie [a(actor) = y(actor) ^\\
            $\forall$ m $\in$ movie [m(director) = "Berto" $\rightarrow$\\
            $\exists$ t $\in$ movie (m(title) = t(title) ^ t(actor) = y(actor))]]}

as opposed to `TODO: GO OVER THE OTHER EXAMPLE AND WHY IT DOESN'T WORK`

#### Is this correct?

{a: actor | $\exists$ y $\in$ movie [a(actor) = y(actor) ^ \
            $\forall$ m $\in$ movie $\exists$ t $\in$ movie [m(director) = "Berto" $\rightarrow$ (m(title) = t(title) ^ t(actor) = y(actor))]]}

Yes it's correct.

`TODO: GO OVER THE OTHER EXAMPLES IN THE SLIDES`

#### What about if we swapped it?

{a: actor | $\exists$ y $\in$ movie [a(actor) = y(actor) ^ \
            $\exists$ t $\in$ movie $\forall$ m $\in$ movie [m(director) = "Berto" $\rightarrow$ (m(title) = t(title) ^ t(actor) = y(actor))]]}

NO, it doesn't work. 

`TODO: UNDERSTAND AND EXPAIN IN DEPTH WHY IT DOESN'T WORK AND HOW IT DIFFERS FROM THE OTHER EXAMPLE`

## Tuple Calculus and SQL 

sql:
```sql
SELECT	s.theater
FROM	schedule s, movie m
WHERE	s.title = m.title AND m.direcror = "Bertolucci"
```

tuple calculus:

{t: theater | $\exists$ s $\in$ schedule $\exists$ m $\in$ movie [ \
&emsp;t(theater) = s(theater) ^\
&emsp;s(title) = m(title) ^\
&emsp;m(director) = Bertolucci\
]}

{t: $A_1, ..., A_n$ | $\exists r_1 \in R_1 ... \exists r_k \in R_k$ [$^_j t(A_j) = r_{ij}(A_j) ^ $ cond($r_1, ..., r_k$)]}

`TODO: revisit slides and understand`

## Formulate SQL queries

EX: Find actors playing in every movie by Berto

- Tuple calculus

- Eliminate $\forall$

- Rule: 

`TODO: REVISIT SLIDE AND WRITE DOWN NOTES`

#### Basic Rule: one level of nesting for each "`\neg \exists`"

`TODO: copy the example on the slide and understand/explain it in notes`

#### Another possibility (using not in)

`TODO: basically read the entire slide and write down notes`

(presentation is going a bit faster than would facilitate note taking, rewatch with a LOT of pauses)

# Relational Algebra

`TODO: prof did a little intro/speech. Rewatch that and understand what he's saying. Was busy typing out all these TODOs -_-`

`TODO: figure out the slide title, it's cutoff in the zoom`

3 steps:
- Parsing & Translation
- Optimization
- Evaluation

`TODO: visual in the slides that needs to be copied here`

**Relational Algebra**: Simple set of algebraic operations on relations

`TODO: visual in slides that needs to be copied here`

SQL -> relational algebra -> query rewriting

query rewriting: Secret Sauce, mostly in the optimizers to rewrite the query to more easily executable ones.

### Projection

Eliminate some columns

$\pi_X(R)$: Display only attributes (X) of relation (R)

*where R: table name* and *X $\subset$ attributes(R)*

EX: Find titles of current movies

$\pi_{TITLE}(SCHEDULE)$

`TODO: take a screenshot of the example in lecture`

## Selection

Compute set union

$\sigma_{cond}(R)$: Select tuples of (R) satisfying condition (cond)

*where cond: condition involving only attributes of R\
(e.g. attr = value, attr $\neq$ value, attr1 = attr2, attr1 $\neq$ attr2)*

`TODO: screenshot example`

`TODO: screenshot the other example`

## Union

Compute set union

$R\cup S$: Union of sets of tuples in R and S

*where R,S: tables w/ same attributes* (recall the SQL "union compatible" relations)

`TODO: screenshot example`

## Difference

$R - S$: Difference of sets of tuples in R and S

*where R, S: tables with same attributes* (recall the SQL "union compatible" relations)

`TODO: screenshot example`

## Join

Compute join

$R \bowtie S$: Natural Join of R, S

*where R, S: tables* 

`TODO: screenshot example`

`TODO: write note`

`TODO: screenshot example`

`TODO: go over the whole "Definition of Join" slide`

Note: if $R\cap S$ is empty, the join consists of `TODO: finish the note`

## Attribute Renaming

$\delta_{A_1 \rightarrow A_2} (R)$: Change name of attribute A1 in relation (R) to A2

`TODO: finish the rest of the notes for this slide`

# Recap

Basic set of operations:

Back to movie example queries:

1. Title of currently playing movies:

$$ \pi_{TITLE}(schedule)$$

2. Titles of movies by Berto:

$$ \pi_{TITLE}(\sigma_{DIR = BERTO}(movie))$$

> Interesting bit is that you can nest the relational algebra statements so long as inp/out match

3. Titles and directors of currently playing movies:

$$ \pi_{TITLE, DIR} (movie \bowtie schedule) $$